.google-sign-in {
    height: 40px;
    margin: 0 auto;
     margin-top: 0px;
    text-align: center;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #bfb9ba;
    cursor: pointer;
}
.logo img{
    height: 50px;
    margin-top:50px;
    margin-bottom:0px;
}
